body {
    background: #779BF4;
    color: #fff;
}
h1{
    float:left;
}
/*
div::after {
    background:#C0C0C0;
    width:300px;
    height:300px;
    display:block;
    border:solid 2px #0147A7;
    border-radius: 8px;
    font-weight: bold;
    color:#000;
    content:"Webpack";
    padding-top: 100px;
    margin:0 auto;
}
*/
.angular2 {
    width: 300px;
    height: 200px;
    margin-top:70px;
    color:#fff;
    font-weight:bold;
    content:"Webpack tool";
    padding-top: 10px;

    background-color: red;
    background: url('../images/angular.png') no-repeat center;
    position: relative;
    -webkit-animation-name: webpack; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: webpack;
    animation-duration: 5s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes webpack {
    0%   {background-color:red; left:0px; top:0px;color:yellow}
    15%  {background-color:#C0C0C0; left:100px; top:100px;color:red;border-radius: 16px;}
    25%  {background-color:yellow; left:200px; top:0px;color:#000;}
    50%  {background-color:blue; left:200px; top:200px;color:#fff;border-radius: 16px;}
    75%  {background-color:black; left:200px; top:200px;color:red;}
    100% {background-color:red; left:0px; top:0px;color:#fff;border-radius: 16px;}

}


@keyframes webpack {
    0%   {background-color:red; left:auto; top:0px;color:#fff;border-radius: 16px;width:100px;}
    5%   {background-color:black; left:auto; top:20%;color:#fff;width:10px;}
    10%   {background-color:red; left:auto; top:5%;color:#fff;border-radius: 4px;width:100px;}
    15%  {background-color:#C0C0C0; left:100px; top:100px;color:#000;}
    25%  {background-color:yellow; left:200px; top:0px;color:red;border-radius: 0px;}
    50%  {background-color:blue; left:200px; top:200px;color:#000;}
    75%  {background-color:green; left:0px; top:200px;color:#fff;border-radius: 16px;}
    85%  {background-color:black; left:200px; top:200px;color:yellow;}
    100% {background-color:red; left:0px; top:0px;color:#fff;border-radius: 0px; width:440px;}
}

.element {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background: url('../images/angular.png') no-repeat center;
    border-radius: 100%;
  }
  50% {
      background: url('../images/angular.png') no-repeat center;
    
  }
  100% {
    transform: scale(1.5);
    background: url('../images/angular2.png') no-repeat center;
  }
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}




